<p-table [columns]="cols" [value]="pendingCasesList" [autoLayout]="true"
  [scrollable]="true" scrollHeight="350px" stateKey="pendingCases" stateStorage="local">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="flex: 0 0 3%">
        <i class="pi pi-pencil"></i>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.flex]="col?.width">
        <div class="p-d-flex p-ai-center p-jc-between">
          {{col.header}}
        <p-sortIcon [field]="col.field" style="font-size: .7em; margin-right: 10px;"></p-sortIcon>
      </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-res let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td style="flex: 0 0 3%">
      </td>
      <td *ngFor="let col of columns" [style.flex]="col?.width">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
